/* Content
-----------------------------------------------------------------------------*/

.content {
}

.c-section{
	position: relative;
	z-index: 2;

	&__title{
		position: absolute;
		left: 80px;
		top: 0;
		bottom: 0;
		font-size: 80px;
		font-weight: 700;
		margin: 0;
		text-align: right;
		white-space: nowrap;
		color: #333;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		z-index: -1;

		&.inline{
			position: relative;
			left: 0;
			top: 0;
			bottom: 0;
			text-align: left;
			writing-mode: horizontal-tb;
			transform: rotate(0deg);
			max-width: 1140px;
			margin: 0 0 70px;
			white-space: normal;

			.c-section__title-text{
				margin: 0 0 0 -5px;

				&:before{
					display: none;
				}
			}

			.c-section__title-letter{
				transform: rotate(0);
				left: -34px;
				bottom: -320px;
			}
		}
	}

	&__title-text{
		display: inline-block;
		position: relative;
		margin: 0 0 145px;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: -34px;
			width: 3px;
			display: block;
			background: #ccc;
			z-index: 1;
		};
	}

	&__title-letter{
		font-size: 450px;
		position: absolute;
		right: -110px;
		bottom: 420px;
		line-height: 1;
		z-index: -1;
		transform: rotate(90deg);
		color: #f9f9f9;
		pointer-events: none;
	}

	&__content{
		padding: 140px 0 140px 190px;
		width: 100%;
		max-width: 954px;
		margin: 0 auto;
	}

	@media only screen and (max-width : 1040px) {

		&__content{
			padding-left: 150px;
		}

		&__title{
			left: 10px;

			&:after{
				left: -6px;
			}
		}

		&__title-text{
			&:before{
				left: -7px;
			}
		}

		&__title-letter{
			font-size: 400px;
			right: -106px;
		}
	}

	@media only screen and (max-width : 680px) {

		&__content{
			padding: 50px 0 50px 110px;
		}

		&__title{
			font-size: 56px;
		}

		&__title-text{
			margin: 0 0 60px;
		}

		&__title-letter{
			font-size: 300px;
			right: -76px;
		}
	}

	@media only screen and (max-width : 480px) {

		&__content{
			padding: 50px 0 50px 60px;
		}

		&__title{
			left: 6px;
			font-size: 34px;
		}
	}
}

.intro {
	padding: 0;
	margin: 0;
	color: #fff;
	background: url(../img/logo-blue.svg) center center no-repeat;
	background-color: #3401f9;
	background-size: contain;
	height: 100vh;
	min-height: 500px;


	&__title{
		display: flex;
		font-size: 100px;
		font-weight: 700;
		margin: auto 0 0;

		span{
			position: relative;

			&:after{
				content: '';
				position: absolute;
				left: 8px;
				right: 0;
				bottom: 10px;
				height: 3px;
				background: #fff;
			}
		}
	}

	&__subtitle{
		font-size: 43px;
		font-weight: 600;
		margin: 38px 0 0 6px;
	}

	&__scroll{
		display: block;
		width: 41px;
		cursor: pointer;
		background: transparent;
		border: none;
		outline: none;
		color: #fff;
		position: absolute;
		right: 130px;
		bottom: 115px;
		transform: translate(-50%, -50%);
		margin: 0;
		padding: 40px 10px 0 10px;

		writing-mode: vertical-rl;
		transform: rotate(180deg);

		span{
			position: relative;
			top: 10px;
			transition: top ease 0.1s;
		}

		&:hover{
			span{
				top: -5px;
			}
		}
	}

	&__scroll-arrow{
		position: absolute;
		left: 18px;
		top: 10px;
		transform: rotate(-180deg);
		width: 7px;
		height: 18px;
		fill: #fff;
	}

	&:before{
		content: '';
		position: absolute;
		left: 84%;
		bottom: -21px;
		transform: translateX(-50%);
		width: 74px;
		height: 21px;
		background: #34ffff;
	}

	&:after{
		content: '';
		position: absolute;
		left: 84.5%;
		bottom: -25px;
		transform: translateX(-50%);
		width: 74px;
		height: 25px;
		background: #3401f9;
	}

	.container{
		display: flex;
		padding: 120px 90px 116px;
		flex-direction: column;
		height: 100%;
	}

	@media only screen and (max-width : 960px) {

		&__title{
			font-size: 70px;
		}

		&__subtitle{
			font-size: 38px;
		}

		&__scroll{
			right: 30px;
			bottom: 100px;
		}

		.container{
			padding: 100px 50px 100px;
		}
	}

	@media only screen and (max-width : 580px) {

		&__title{
			font-size: 44px;

			span{
				&:after{
					bottom: 4px;
					left: 0;
				}
			}
		}

		&__subtitle{
			font-size: 28px;
			padding-right: 50px;
		}

		&__scroll{
			right: 30px;
			bottom: 10px;
		}

		.container{
			padding: 100px 10px 100px;
		}
	}
}

.event{

	&__title{
		font-weight: 700;
		font-size: 24px;
		margin: 0;
		line-height: 1.78;
		margin: 0 0 32px;

		b{
			font-weight: 700;
			color: #3401f9;
		}
	}

	&__desc{
		font-weight: 300;
		font-size: 18px;
		color: #666;
		margin: 10px 0;
		line-height: 2.12;
		font-family: $font-cons;
	}

	&__glitch1{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 -486px;
		top: 72px;
		width: 274px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 3px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 4px;
			width: 100%;
			height: 3px;
			background: #3401f9;
		}
	}

	&__glitch2{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 480px;
		top: 108px;
		width: 460px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			right: 8px;
			top: 0;
			width: 100%;
			height: 3px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 4px;
			width: 100%;
			height: 3px;
			background: #3401f9;
		}
	}

	&__glitch3{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 -624px;
		bottom: 72px;
		width: 200px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			right: 8px;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	&__glitch4{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 606px;
		bottom: 120px;
		width: 240px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			right: 8px;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	.c-section{

		&__content{
			padding: 143px 0 80px 102px;
		}
	}

	@media only screen and (max-width : 1280px) {

		.c-section{

			&__content{
				padding: 142px 0 80px 200px;
			}
		}
	}

	@media only screen and (max-width : 1040px) {

		.c-section{

			&__content{
				padding: 142px 0 80px 140px;
			}
		}
	}

	@media only screen and (max-width : 680px) {

		&__title{
			font-size: 20px;
		}

		&__desc{
			font-size: 16px;
		}

		.c-section{

			&__title-text{
				margin: 0 0 90px;
			}

			&__content{
				padding: 90px 0 54px 100px;
			}
		}
	}

	@media only screen and (max-width : 480px) {

		&__title{
			font-size: 18px;
			line-height: 1.6;
		}

		&__desc{
			font-size: 14px;
			line-height: 1.8;
		}

		.c-section{

			&__content{
				padding: 90px 0 54px 60px;
			}
		}
	}
}

.big-nums{

	&__glitch1{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 114px;
		top: 14px;
		width: 66px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 6px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 4px;
			width: 100%;
			height: 6px;
			background: #3401f9;
		}
	}

	.c-section{

		&__content{
			padding: 94px 0 74px;
			max-width: 1140px;
		}
	}

	@media only screen and (max-width : 860px) {

		.c-section{

			&__content{
				padding: 62px 0 62px;
			}
		}
	}

	@media only screen and (max-width : 680px) {

		.c-section{

			&__content{
				padding: 42px 0 42px;
			}
		}
	}
}

.big-nums-list{
	display: flex;
	justify-content: flex-start;
	flex: 1 1 100%;
	padding: 0;
	margin: 0;

	&__item{
		width: 30%;
		margin: 0 0 0 4.5%;

		&:first-child{
			margin: 0;
		}
	}

	&__num{
		font-size: 120px;
		font-weight: 700;
		color: #3401f9;
		margin: 0 0 0 -5px;
		padding: 0;
		line-height: 1;

		span{
			position: relative;
			font-weight: 400;
			font-size: 70px;
			vertical-align: top;
			margin: 0;
			top: 0;
			left: 3px;
		}
	}

	&__title{
		margin: 9px 0 0;
		padding: 0;
		font-size: 24px;
		font-weight: 700;
	}

	&__subtitle{
		margin: 4px 0;
		padding: 0;
		font-size: 18px;
		font-weight: 400;
	}

	@media only screen and (max-width : 960px) {

		&__item{

		}

		&__num{
			font-size: 90px;
		}

		&__title{
			font-size: 20px;
			margin: 0;
		}

		&__subtitle{
			font-size: 16px;
		}
	}

	@media only screen and (max-width : 680px) {

		&__item{

		}

		&__num{
			font-size: 68px;
		}

		&__title{
			font-size: 18px;
			margin: 0;
		}

		&__subtitle{
			font-size: 14px;
		}
	}

	@media only screen and (max-width : 480px) {
		flex-direction: column;

		&__item{
			text-align: center;
			width: 100%;
			margin: 20px 0 0;
		}

		&__num{
			position: relative;
			display: inline-block;

			span{
				position: absolute;
				left: 100%;
			}
		}
	}
}

.packages{

	&__glitch1{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 -726px;
		top: 28px;
		width: 100px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 3px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 4px;
			width: 100%;
			height: 3px;
			background: #3401f9;
		}
	}

	&__glitch2{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 719px;
		top: 40px;
		width: 100px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 33px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 4px;
			width: 100%;
			height: 33px;
			background: #3401f9;
		}
	}

	&__glitch3{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 466px;
		top: 189px;
		width: 500px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	.c-section__content{
		padding: 94px 0 74px;
		max-width: 1140px;
	}

	@media only screen and (max-width : 860px) {

		.c-section{

			&__content{
				padding: 90px 0 62px;
			}
		}
	}

	@media only screen and (max-width : 680px) {

		.c-section{

			&__content{
				padding: 90px 0 42px;
			}
		}
	}
}

.table-wrap{
	overflow-x: auto;
	margin: 0 -10px 0 0;
}

.package-table{
	width: 100%;
	border-collapse: collapse;

	&__row{

		&:nth-child(even){
			background: transparent;
		}

		&:nth-child(odd){
			background: #f9f9f9;
		}

		&:nth-child(1){
			background: transparent;
		}

		&.head{
			.package-table__col{
				height: 104px;
				text-align: left;
				padding: 10px 20px;
				font-weight: 700;
				font-size: 18px;
				color: #333;
				line-height: 1.2;

				&:before{
					content: '';
					position: absolute;
					left: -4px;
					bottom: 0;
					top: 0;
					width: 8px;
					background: #fff;
					z-index: 1;
				}

				&:after{
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					right: 0;
					height: 3px;
				}

				&.desc{
					width: 40%;
					text-align: left;
					padding: 0 30px;
				}

				&.partner{
					background: #f9f9f9;

					&:after{
						background: #3401f9;
					}
				}

				&.bronze{
					background: #f9f9f9;

					&:after{
						background: #cc7f33;
					}
				}

				&.silver{
					background: #f9f9f9;

					&:after{
						background: #c0c0c0;
					}
				}

				&.gold{
					background: #f9f9f9;

					&:after{
						background: #ffd704;
					}
				}

				&.general{
					background: #f9f9f9;

					&:after{
						background: #ff0031;
					}
				}
			}
		}
	}

	&__col{
		text-align: center;
		padding: 10px 2px;
		position: relative;
		font-size: 14px;
		font-weight: 600;
		color: #666;
		height: 50px;
		line-height: 2.2;

		&.desc{
			width: 30%;
			text-align: left;
			padding: 10px 30px;
			color: #333;
		}

		&.partner{

		}

		&.bronze{

		}

		&.silver{

		}

		&.gold{

		}

		&.general{
			width: 19%;
		}
	}

	&__price{
		font-size: 14px;
		margin: 14px 0 0;
		font-weight: 500;
		line-height: 1.4;

		span{
			display: block;
		}
	}

	&__icon-yes,
	&__icon-no{
		position: relative;
		top: 2px;
		height: 16px;
		width: 20px;
	}

	&__icon-yes{
		width: 20px;
		color: #3401f9;
		fill: #3401f9;
	}

	&__icon-no{
		width: 16px;
		color: #666666;
		fill: #666666;
	}

	@media only screen and (max-width : 680px) {
		margin: 0 -10px;

		&__col{

			&.desc{
				padding: 10px 10px;
				font-size: 14px;
				line-height: 1.5;
				font-weight: 400;
				min-width: 200px;
			}
		}
	}
}

.packages-tip{
	position: relative;
	margin: 95px 0 90px;

	&__tip{
		font-size: 18px;
		font-weight: 500;
		margin: 12px 0;
	}

	&__subtitle{
		font-size: 30px;
		font-weight: 700;
		margin: 10px 0;

		b{
			font-weight: 700;
			color: #3401f9;
		}
	}

	&__glitch1{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 -566px;
		top: -50px;
		width: 182px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	&__glitch2{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 728px;
		top: -35px;
		width: 182px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 6px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 5px;
			width: 100%;
			height: 6px;
			background: #3401f9;
		}
	}

	&__glitch3{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 580px;
		bottom: -24px;
		width: 310px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	@media only screen and (max-width : 680px) {
		margin: 50px 0;

		&__tip{
			font-size: 16px;
			font-weight: 500;
		}

		&__subtitle{
			font-size: 26px;
			font-weight: 600;
		}
	}
}

.add-packages{
	padding: 0;
	margin: 0 0 0 -1%;
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	width: 101%;

	&__item{
		position: relative;
		margin: 0 0 44px 1%;
		flex: 0 1 24%;
		min-height: 200px;

		&.fill{
			flex: 1 1 24.25%;

		}
	}

	&__img-box{
		margin: 0 0 24px;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__title{
		font-size: 18px;
		font-weight: 700;
		margin: 18px 0 0;
		line-height: 1.4;
	}

	&__desc{
		margin: 10px 0;
		font-size: 14px;
	}

	&__item-btn{
		position: absolute;
		left: 50%;
		top: 38%;
		transform: translate(-50%, -50%);
		display: flex;
		height: 107px;
		width: 100%;
		background: #3401f9;
		color: #fff;
		fill: #fff;
		margin: auto;
		max-width: 286px;
		text-align: center;
		text-transform: uppercase;
		justify-content: center;
		align-content: center;
		align-items: center;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.1em;

		&:hover{
			background: #3000eb;
		}

		.add-packages__icon-plus{
			display: block;
			width: 14px;
			height: 15px;
			color: #fff;
			fill: #fff;
			font-size: 20px;
			margin: -2px 20px 0 0;
		}
	}

	@media only screen and (max-width : 680px) {
		margin: 0 0 0 -1%;

		&__item{
			flex: 0 1 32.2%;
			margin: 0 0 20px 1%;
		}

		&__img-box{
			margin: 0 0 12px;
		}

		&__title{
			font-size: 16px;
			font-weight: 600;
		}

		&__desc{

		}
	}

	@media only screen and (max-width : 480px) {
		margin: 0;

		&__item{
			flex: 0 1 100%;
			margin: 0 0 20px;
		}

		&__img-box{
			margin: 0 0 12px;

			img{
				width: 100%;
			}
		}
	}
}

.why-sponsor{
	position: relative;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;

	&__title{
		font-size: 36px;
		font-weight: 700;
		margin: 34px 0 14px;
		color: #3401f9;
		flex: 1 1 100%;
	}

	&__more{
		display: inline-flex;
		padding: 10px 10px 10px 10px;
		margin: 7px 0 0 auto;
		color: #333;

		&:after{
			content: '';
			@include sprite(arrow-blue);
			transform: rotate(-90deg);
			margin: 0 0 0 22px;
		}
	}

	&__glitch1{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 400px;
		top: -27px;
		width: 282px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	@media only screen and (max-width : 680px) {

		&__title{
			font-size: 32px;
		}
	}

	@media only screen and (max-width : 480px) {

		&__title{
			font-size: 28px;
		}
	}
}

.adv-list{
	padding: 0;
	margin: 41px 0;
	list-style: none;

	&__item{
		position: relative;
		padding: 0 0 0 70px;
		margin: 48px 0 0;

		&:first-child{
			margin: 0;
		}

		&:after{
			content: '';
			position: absolute;
			left: 4px;
			top: 6px;

			@include sprite(package-yes);
		}
	}

	&__title{
		font-size: 24px;
		font-weight: 700;
		margin: 24px 0;
	}

	&__desc{
		font-family: $font-cons;
		font-size: 18px;
		line-height: 2.12;
		margin: 26px 0px 0;
	}

	@media only screen and (max-width : 680px) {
		margin: 30px 0;

		&__item{
			padding: 0 0 0 40px;
		}

		&__title{
			font-size: 20px;
			margin-bottom: 20px;
		}

		&__desc{
			font-size: 16px;
			line-height: 1.8;
		}
	}

	@media only screen and (max-width : 480px) {
		margin: 20px 0;

		&__item{
			padding: 0 0 0 30px;

			&:after{
				position: absolute;
				left: 0;
				top: 4px;
			}
		}

		&__title{
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 16px;
		}

		&__desc{
			margin-top: 16px;
			font-size: 16px;
			line-height: 1.5;
		}
	}
}

.videos-list{
	padding: 0;
	margin: 24px 0 0;
	list-style: none;
	display: flex;

	&__item{
		width: 320px;
		height: 235px;
	}
}

.partners{

	&__glitch1{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 -627px;
		top: 8px;
		width: 282px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	&__glitch2{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 482px;
		top: 45px;
		width: 480px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	&__glitch3{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 482px;
		top: -70px;
		width: 74px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 21px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 8px;
			top: 0;
			width: 100%;
			height: 25px;
			background: #3401f9;
		}
	}

	.c-section__content{
		padding: 100px 0 14px;
		max-width: 1140px;
	}

	@media only screen and (max-width : 480px) {

		.c-section__content{
			padding: 90px 0 14px;
			max-width: 1140px;
		}
	}
}


.contacts{

	&__desc{
		font-family: $font-cons;
		line-height: 2.16;
		font-size: 18px;
	}

	&__collab{
		font-weight: 700;
		line-height: 1.78;
		font-size: 24px;
		margin: 37px 0;

		b{
			color: #3401f9;
			font-weight: 700;
		}
	}

	&__mail{
		font-size: 24px;
		margin: 42px 0 22px;

		a{
			color: #3401f9;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	&__glitch1{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 200px;
		top: 45px;
		width: 66px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 6px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 4px;
			top: 3px;
			width: 100%;
			height: 6px;
			background: #3401f9;
		}
	}

	&__glitch2{
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		margin: 0 0 0 630px;
		top: 150px;
		width: 200px;
		z-index: -1;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			background: #34ffff;
		}

		&:after{
			content: '';
			position: absolute;
			left: 4px;
			top: 3px;
			width: 100%;
			height: 2px;
			background: #3401f9;
		}
	}

	.c-section__title{
		line-height: 1.14;
		margin: 0 0 26px;
	}

	.c-section__content{
		padding: 94px 0 60px;
		max-width: 1140px;

	}

	@media only screen and (max-width : 680px) {

		&__desc{
			line-height: 2;
			font-size: 18px;
		}

		&__collab{
			line-height: 1.6;
			font-size: 22px;
			margin: 37px 0;
		}

		&__mail{
			font-size: 22px;
			margin: 42px 0 22px;
		}

		.c-section__content{
			padding: 90px 0 14px;
			max-width: 1140px;
		}
	}

	@media only screen and (max-width : 480px) {

		&__desc{
			line-height: 1.8;
			font-size: 16px;
		}

		&__collab{
			line-height: 1.5;
			font-size: 20px;
		}
	}
}


.sponsors-list{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	&__item{
		padding: 10px;
		height: 166px;
		margin: 0 0 42px;
		display: inline-flex;
		align-items: center;
		min-width: 25%;
		justify-content: center;
	}

	&__link{
		display: block;

		img{
			max-width: 100%;
			height: auto;
		}
	}

	@media only screen and (max-width : 860px) {

		&__item{
			height: 140px;
			margin: 0 0 20px;
		}
	}

	@media only screen and (max-width : 680px) {

		&__item{
			height: auto;
			max-width: 50%;
			margin: 0 0 30px;
		}
	}
}

.follow{
	margin: 41px 0 0;

	&__wrap{
		display: flex;
		flex: 1 1 100%;
	}

	&__title{
		font-size: 36px;
		font-weight: 700;
		margin: 42px 0 28px;
	}

	&__dev{
		font-size: 14px;
		font-weight: 600;
		margin: auto 0 0 auto;
		padding: 0 0 0 10px;
		position: relative;
		bottom: -7px;

		a{
			font-size: 18px;
			font-weight: 500;
			display: block;
			color: #3401f9;
			line-height: 1.6;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	@media only screen and (max-width : 480px) {

		&__wrap{
			flex-direction: column;
		}

		&__dev{
			text-align: center;
			padding: 0;
			margin: 16px 0 10px;
		}
	}
}


.follow-btns{
	width: 100%;
	max-width: 680px;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;

	&__item{
		width: 32.6%;
		margin: 0 0 0 1%;

		&:first-child{
			margin: 0;
		}
	}

	&__link{
		position: relative;
		padding: 10px;
		display: block;
		height: 220px;
		text-align: center;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		background: #f9f9f9;
		color: #ccc;
		font-size: 14px;
		transition: all linear .1s;

		&:hover{
			background: #3300ff;
			color: #fff;

			.follow-btns__icon{
				fill: #FFF;
			}
		}
	}

	&__icon-wrap{
		display: block;
		width: 48px;
		height: 48px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		.socials-tw{
			font-size: 36px;
		}

		.socials-fb{
			font-size: 36px;
		}

		.socials-yt{
			font-size: 36px;
		}
	}

	&__icon{
		width: 48px;
		height: 48px;
		fill: #ccc;
		transition: all linear .1s;
	}

	@media only screen and (max-width : 860px) {

		&__link{
			height: 160px;
		}
	}

	@media only screen and (max-width : 680px) {

		&__link{
			height: 160px;
		}
	}

	@media only screen and (max-width : 480px) {

		&__link{
			height: 100px;
			font-size: 12px;
		}
	}
}
