/* Forms
-----------------------------------------------------------------------------*/

.subscribe-form{
	position: relative;

	&__input{
		width: 100%;
		font-family: $popp;
		font-size: 14px;
		line-height: 1.43;
		color: #999;
		padding: 0 180px 0 20px;

		height: 60px;
		background: #ffffff;
		border: solid 1px #d7d7d7;
		-webkit-appearance: none;

	}

	&__submit{
		display: block;
		font-family: $popp;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.67;
		padding: 0 32px;
		color: #fff;
		position: absolute;
		right: 10px;
		top: 10px;
		bottom: 10px;
		background: $clr-blue;
		text-transform: uppercase;
		border: none;
		outline: none;
		cursor: pointer;
		transition: all 0.1s;

		&:hover{
			background: #331cf7;
		}
	}

	@media only screen and (max-width : 768px) {
		height: auto;
		margin-top: 50px;
		
		&__input{
			border: none;
			border-bottom: 1px solid #b5b5b5;
			text-align: center;
			padding: 0 20px;
			height: 40px;
		}

		&__submit{
			font-size: 14px;
			position: relative;
			height: 50px;
			width: 200px;
			margin: 20px auto 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}