$icons: (
	  sprite: (width: 4071px, height: 3792px, svgPath: '../img/sprite.svg'),
 	intro-bg_1: (width: 243px, height: 229px, backgroundX: 0px, backgroundY: 0px),
 	intro-bg_2: (width: 93px, height: 255px, backgroundX: -243px, backgroundY: -229px),
 	intro-bg_3: (width: 269px, height: 200px, backgroundX: -336px, backgroundY: -484px),
 	intro-bg_4: (width: 231px, height: 204px, backgroundX: -605px, backgroundY: -684px),
 	intro-bg_5: (width: 38px, height: 412px, backgroundX: -836px, backgroundY: -888px),
 	intro-bg_6: (width: 243px, height: 223px, backgroundX: -874px, backgroundY: -1300px),
 	intro-bg_back: (width: 1440px, height: 507px, backgroundX: -1117px, backgroundY: -1523px),
 	intro-bg_hand: (width: 302px, height: 690px, backgroundX: -2557px, backgroundY: -2030px),
 	intro-bg_hand-lightning: (width: 236.3px, height: 116.2px, backgroundX: -2859px, backgroundY: -2720px),
 	intro-bg_hand-react: (width: 98.3px, height: 87.3px, backgroundX: -3096px, backgroundY: -2837px),
 	intro-bg_moon: (width: 680px, height: 680px, backgroundX: -3195px, backgroundY: -2925px),
 	menu-toggle: (width: 28px, height: 22px, backgroundX: -3875px, backgroundY: -3605px),
 	menu-toggle_close: (width: 19.438px, height: 19.438px, backgroundX: -3903px, backgroundY: -3627px),
 	socials: (width: 18px, height: 20px, backgroundX: -3923px, backgroundY: -3647px),
 	socials_fb: (width: 8px, height: 16px, backgroundX: -3941px, backgroundY: -3667px),
 	socials_gh: (width: 21px, height: 20px, backgroundX: -3949px, backgroundY: -3683px),
 	socials_ins: (width: 14px, height: 14px, backgroundX: -3970px, backgroundY: -3703px),
 	socials_mail: (width: 16px, height: 13px, backgroundX: -3984px, backgroundY: -3717px),
 	socials_med: (width: 19px, height: 19px, backgroundX: -4000px, backgroundY: -3730px),
 	socials_sl: (width: 15.813px, height: 15.813px, backgroundX: -4019px, backgroundY: -3749px),
 	socials_tw: (width: 17px, height: 13.656px, backgroundX: -4035px, backgroundY: -3765px),
 	socials_yt: (width: 19px, height: 13px, backgroundX: -4052px, backgroundY: -3779px),
);
