.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-intro-bg_1 {
	font-size:(229/16)*1rem;
	width:(243/229)*1em;
}
.icon-intro-bg_2 {
	font-size:(255/16)*1rem;
	width:(93/255)*1em;
}
.icon-intro-bg_3 {
	font-size:(200/16)*1rem;
	width:(269/200)*1em;
}
.icon-intro-bg_4 {
	font-size:(204/16)*1rem;
	width:(231/204)*1em;
}
.icon-intro-bg_5 {
	font-size:(412/16)*1rem;
	width:(38/412)*1em;
}
.icon-intro-bg_6 {
	font-size:(223/16)*1rem;
	width:(243/223)*1em;
}
.icon-intro-bg_back {
	font-size:(507/16)*1rem;
	width:(1440/507)*1em;
}
.icon-intro-bg_hand {
	font-size:(690/16)*1rem;
	width:(302/690)*1em;
}
.icon-intro-bg_hand-lightning {
	font-size:(116.2/16)*1rem;
	width:(236.3/116.2)*1em;
}
.icon-intro-bg_hand-react {
	font-size:(87.3/16)*1rem;
	width:(98.3/87.3)*1em;
}
.icon-intro-bg_moon {
	font-size:(680/16)*1rem;
	width:(680/680)*1em;
}
.icon-menu-toggle {
	font-size:(22/16)*1rem;
	width:(28/22)*1em;
}
.icon-menu-toggle_close {
	font-size:(19.438/16)*1rem;
	width:(19.438/19.438)*1em;
}
.icon-socials {
	font-size:(20/16)*1rem;
	width:(18/20)*1em;
}
.icon-socials_fb {
	font-size:(16/16)*1rem;
	width:(8/16)*1em;
}
.icon-socials_gh {
	font-size:(20/16)*1rem;
	width:(21/20)*1em;
}
.icon-socials_ins {
	font-size:(14/16)*1rem;
	width:(14/14)*1em;
}
.icon-socials_mail {
	font-size:(13/16)*1rem;
	width:(16/13)*1em;
}
.icon-socials_med {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-socials_sl {
	font-size:(15.813/16)*1rem;
	width:(15.813/15.813)*1em;
}
.icon-socials_tw {
	font-size:(13.656/16)*1rem;
	width:(17/13.656)*1em;
}
.icon-socials_yt {
	font-size:(13/16)*1rem;
	width:(19/13)*1em;
}
