.strangers {
    position: relative;

    margin-top: 140px;
    margin-bottom: 250px;

     @media only screen and (max-width: 768px) {
          margin-bottom: 60px;
     }
}


.strangers__head {
    position: relative;

    display: flex;
    min-height: 500px;
    padding-top: 120px;

    @media only screen and (max-width: 768px) {
        min-height: 180px;
        padding-top: 80px;
    }

    @media only screen and (max-width: 480px) {
        min-height: 250px;
        padding-top: 50px;
    }
}

.strangers__title {
    position: absolute;
    z-index: 10;

    width: 510px;
    margin: 0;

    font-weight: bold;
    font-size: 64px;
    line-height: 1.41;
    color: #023753;

    &.clipthru {
        color: #ffffff;
    }

    @media only screen and (max-width : 1024px) {
        margin-left: 40px;
    }

    @media only screen and (max-width : 768px) {
        width: 62.5%;
        margin-left: 0;

        font-size: 28px;
        line-height: 1.07;
    }
}

.strangers__text {
    width: 550px;
    margin: 0;
    margin-left: 600px;

    font-size: 16px;
    line-height: 30px;
    color: #023753;
}


.strangers__box {
    position: absolute;
    top: 0;
    right: 50%;
    z-index: 0;

    width: 600px;
    height: 720px;

    background-color: #230cea;
    transform: translateX(-52.5%);

    @media only screen and (max-width: 1200px) {
        transform: translateX(-35%);
    }

    @media only screen and (max-width: 768px) {
        height: 320px;
        transform: translateX(0);
        left: 0;
        width: 90px;
    }

    @media only screen and (max-width : 480px) {
        height: 300px;
    }
}

.strangers__video {
    position: relative;

    width: 1149px;
    height: 643px;
    margin: 0 auto;
    margin-top: -20px;

    @media only screen and (max-width: 1439px) {
        width: 95%;
        height: auto;
        padding-top: 56.25%;
    }

    @media only screen and (max-width : 480px) {
        margin-top: -60px;
    }
}

.strangers__frame {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;

    width: 100%;
    height: 100%;
}

.strangers__container {
    max-width: 1149px;
}