.welcome {
    margin-top: 20px;
}

.welcome__head {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    padding-top: 80px;
    padding-bottom: 620px;
}

.welcome__title {

    width: 1050px;
    font-size: 64px;
    font-weight: 700;
    line-height: 90px;

     &.clipthru {
         margin-top: -180px;
         color: #fff;
     }

    @media only screen and (max-width: 768px) {}
}

.welcome__text {

    width: 880px;
    padding-left: 230px;
    color: #023753;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}


.welcome__text--intro {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}