@import "partials/variables";
@import "partials/sprite-svg";
@import "partials/mixins";
@import "partials/functions";
@import "partials/normalize";

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-family: $popp;
}

body {
	background: #230cea;
	color: #515151;
	font-size: $font-size;
	line-height: 1.36;

	@media only screen and (max-width : 768px) {
		&.stop-scroll{
			overflow: hidden;
		}
	}
}

a {
	color: #0680ba;
	transition: all linear .1s;

	&:hover{
		text-decoration: none;
	}
}

.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ".";
	font-size: 0;
}

.clearfix { zoom: 1; }

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	min-width: 300px;

	@media only screen and (min-width : 768px) {
		transition: opacity 1s;
		/*opacity: 0;*/
	}
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	z-index: 1;
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	/*font-family: $font-base;*/
}


@import "vendor/slider-pro.min";

@import "partials/fonts";
@import "partials/icons";
@import "partials/buttons";
@import "partials/forms";

@import "partials/header";
@import "partials/content";
@import "partials/footer";

@import "partials/media";

@import "partials/strangers";
@import "partials/welcome";
@import "partials/workshops";
@import "partials/rule";