/* Buttons
-----------------------------------------------------------------------------*/

.basic-btn{
	font-family: $popp;
	background: #ffd121;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	color: #023753;
	height: 53px;
	padding: 0 25px;
	box-shadow: 4px 4px 0 0 #0f3754;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	flex-shrink: 1;
	transition: all 0.1s;

	&:hover{
		background: #ffdb52;
		box-shadow: 2px 2px 0 0 #0f3754;
	}
}